<div class="w-100">
  <div class="row">
        <div class="mb-5 col-md-8 pr-5">
            <h5 class="mb-4">Inbox</h5>
            <% @conversations.each_with_index do |conversation, i| %>
                <%= link_to conversation_messages_path(conversation) do %>
                    <div class="card mb-2 border-0">
                        <div class="card-body row align-items-center <%= "bottom-bord" unless i == @conversations.length - 1 %>">
                            <div class="col-2 fixed-width-pic">
                                <div class="circle msg filtered">
                                    <%= image_tag conversation.recipient(current_user).picture if conversation.recipient(current_user).picture.attached? %>
                                </div>
                            </div>
                            <div class="col-9">
                                <span><%= conversation.recipient(current_user).first_name %> <%= conversation.recipient(current_user).last_name %></span><br>
                                <span class="small"><%= conversation.messages.last.updated_at.strftime("%l:%M %p on %A %d %b '%y") %></span>
                            </div>
                            <div class="col-1 m-auto">
                                <% if !conversation.unread_message_count(current_user).zero? %>
                                    <div class="card p-1 pl-3 pr-4 small btn-default-sm notification">
                                        <%= conversation.unread_message_count(current_user) %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div class="mb-5 col-md-4">
            <h5>Search</h5>
        </div>
  </div>
</div>