<div class="w-100">
  <div class="row">
        <div class="mb-5 col-md-8 pr-5">
            <% if @show_empty %>
                <div class="container mt-5">
                    <h3>You have no messages. Get connecting!</h3>
                </div>
            <% else %>
                <h5 class="mb-2 mt-2 ml-3">Inbox</h5>
                <% @conversations.each_with_index do |conversation, i| %>
                    <% next if conversation.messages.blank? %>
                    <%= link_to conversation_messages_path(conversation) do %>
                        <div class="card mb-1 border-0 ml-4">
                            <div class="card-body row align-items-center p-2 <%= "bottom-bord" unless i == @conversations.length - 1 %>">
                                <div class="col-2 fixed-width-pic p-0">
                                    <div class="circle msg filtered">
                                        <%= image_tag conversation.recipient(current_user).picture if conversation.recipient(current_user).picture.attached? %>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <span><%= conversation.recipient(current_user).first_name %> <%= conversation.recipient(current_user).last_name %></span><br>
                                    <span class="small"><%= conversation.messages.last.created_at.strftime("%l:%M %p on %A %d %b '%y") %></span>
                                </div>
                                <div class="col-2 m-auto">
                                    <% if !conversation.unread_message_count(current_user).zero? %>
                                        <div class="p-1 text-center m-0 small btn-default-sm notification ml-auto">
                                            <%= conversation.unread_message_count(current_user) %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="mb-5 col-md-4">
            <h5></h5>
        </div>
  </div>
</div>