
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_with model: user, local: true do |form| %>

    <div>
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div>
      <%= form.label :first_name %>
      <%= form.text_field :first_name, :required => true %>
    </div>
    <div>
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :required => true %>
    </div>

    <% roles.each do |option| %>
      <div>
      <%= form.radio_button :role, option %>
      <%= form.label "role_#{option}".to_sym, option, :required => true %>
      </div>
    <% end %>

    <div>
    <% @skills.each do |skill| %>
      <ul>
      <% if @selected_skills.include?(skill.name) %>
      <li><input class="checkbox" type="checkbox" name="skills[]" id="<%= skill.id %>" value="<%= skill.id %>" checked> <label for="<%= skill.id %>"><%= skill.name %></label></li>
      <% else %>
      <li><input class="checkbox" type="checkbox" name="skills[]" id="<%= skill.id %>" value="<%= skill.id %>"> <label for="<%= skill.id %>"><%= skill.name %></label></li>
      <% end %>
      </ul>
    <% end %>
    </div>

    <div>
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div>
      <%= form.label :occupation %>
      <%= form.text_field :occupation %>
    </div>

    <div>
      <%= form.label :company %>
      <%= form.text_field :company %>
    </div>

    <div>
      <%= form.label :location_id %>
      <%= form.select(:location_id, locations.map{ |location| [location.name, location.id] }) %>
    </div>

    <div>
      <%= form.label :portfolio_url %>
      <%= form.url_field :portfolio_url %>
    </div>

    <div>
      <%= form.label :bio %>
      <%= form.text_area :bio %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
