<% @users.each do |user| %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="circle search">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.picture if user.picture.attached? %>
            <% end %>
          </div>
        </div>
        <div class="col-sm">
          <%= link_to user_path(user.id) do %>
            <span><%= user.first_name %> <%= user.last_name %></span><br>
          <% end %>
          <span><%= user.role.capitalize %></span><br>
          <button type="button" class="btn btn-link p-0">
            <%= icon("far", "star") %>
          </button>
          <button type="button" class="btn btn-link p-0">
            <%= icon("far", "comment") %>
          </button>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </div>
<% end %>