<h1>Users</h1>

  <%= form_with url: users_path, method: :get, local: true do |form| %>
    <div class="form-group">
        <%= form.label :location %>
        <%= form.select(:location, options_for_select( Location.all.pluck(:name), params[:location] ), {}, {class: "form-control form-control-sm"}) %>
    </div>

    <div class="form-actions">
        <%= form.submit 'Search', class: "btn btn-success" %>
    </div>
  <% end %>

<%= render 'search_results' %>