<p>
<%= image_tag @user.picture if @user.picture.attached? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  I am a <%= @user.role %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location.name %>
</p>

<p>
  <a href="<%= @user.portfolio_url %>" target="_blank">Website</a>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>About Me:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Skills:</strong>
  <ul>
  <% @user.skills.each do |skill| %>
  <li>
  <%= skill.name %>
  </li>
  <% end %>
  </ul>
</p>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
